*, *::after, *::before{
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale

}


:root{
    /*PRODUTOT*/
        

    /*BASE*/

    --background-color: #09090B;
    --surface-color: #18181b;
    --stroke-color:#272722a;
    --text-color-secondary:#a1a1aa;
    --text-color-primary: #fafaf5;
    --brand-color-primarry: #f7b733;
    --brand-color-secondary: #fc4a1a;

      /*FONT-STYLE*/
      --ff-sans :'Inter', 'system-ui', sans-serif ;

    /*FONT MOBILE*/
    --fs-2xl: 2.5rem;
    --fs-xl:1.5rem;
    --fs-lg: 1.25rem;
    --fs-base: 1rem;
    --fs--sm: 0.875rem;

    /*FONT-WEIGHT*/
    --fw-base: 400;
    --fw-md: 500;
    --fw-bold: 800;


}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
    line-height: 1.6;
    color: var(--text-color-primary);
}

body{
    background-color: var(--background-color);
}

h1, h2, h3 {
    line-height: 1.2;
    color: var(--text-color-primary);
    font-weight: var(--fw-bold);
    letter-spacing: -0.04rem;
}

h1 {
font-size: var(--fs-2xl);
    
}

h2{
    font-size: var(--fs-xl);
    
}

h3 {
    font-size: var(--fs-lg);
}



p {
    font-size: var(--text);
    line-height: 1.6;
}

span {
    font-size: var(--span);
    line-height: 1.0;
}

ul[type=list]{
    list-style: none;
}